{% include 'sidebar3.html' %}
<body class="bg-light">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show"style="margin-left:25%;width:60%" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}

        <form method="post"style="margin-left:25%;width:60%;box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2),0 16px 20px 0 rgba(0, 0, 0, 0.19);"class="text-dark border p-5 bg-white mt-5">
            {% csrf_token %}
            <h2 class="">Add Investor</h1><hr style="height:2px;border-width:0;background-color:black">
            <label class="font-weight-bold mt-3">Name</label><br>
            {% ifequal error "yes" %}
            <input id="inp" value="{{name}}"type="text"class="form-control mt-2"name="name"placeholder="Enter a investor name"style="border: 2px solid"required><br>
            {% else %}
            <input id="inp" type="text"class="form-control mt-2"name="name"placeholder="Enter a investor name"style="border: 2px solid"required><br>
            {% endifequal %}
            <input type="submit"value="Add"class="btn btn-success btn-lg mt-2">
        </form>
</body>
